body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#output {
    margin-top: 20px;
}
#bigNumber {
    font-size: 20px;
    font-weight: bold;
}
#bild{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 200px;
    height: auto;
}